<div class="position-relative" style="height: 95vh; overflow: hidden;">

  <!-- Background Image -->
  <img [src]="apiUrl + '/' + story.st_start_image" alt="Background" class="position-absolute top-0 start-0 w-100 h-100"
    style="object-fit: cover; object-position: center;" />

  <!-- Bottom Left Button -->
  <div class="position-absolute bottom-0 start-0 p-4"
    style="z-index: 1000; background: rgba(0,0,0,0.0); max-width: 40%;">
    <button class="btn btn-sm btn-light d-flex align-items-center gap-2 px-3 py-2" (click)="goToPlaygound()">
      <span>Go ahead</span> <i class="fa fa-play fa-2x"></i>
    </button>
  </div>
</div>