<div class="container-fluid" style="height: 100vh;">
  <div class="row">
    <div class="col-md-12 m-0 p-0">
      <!-- Background Image -->
      <img [src]="apiUrl + '/' + story.st_start_image" alt="Background" class="w-100 h-100"
        style="object-fit: contain;" />

      <!-- Bottom Left Button -->

    </div>
    <div class="position-fixed bottom-0 start-0 p-4"
      style="z-index: 1000; background: rgba(0,0,0,0.0); max-width: 40%;">
      <button type="button" class="btn btn-secondary text-wrap d-inline-flex align-items-center"
        style="white-space: normal;" (click)="goToPlaygound()">
        <span class="me-2">Go ahead</span>
        <i class="fa fa-play"></i>
      </button>
    </div>
  </div>
</div>