
<div class="right_col" role="main" style="min-height: 99vh;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a >Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
  </nav>
  <div class="x_panel">
    <div class="x_title">
      <button class="btn btn-warning" (click)="createUser()"><i class="fa fa-plus"></i> Create</button>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ag-grid-angular #userGrid class="ag-theme-quartz ag-theme-acmecorp" style="height: 100%; width: 100%;"
          [rowData]="users" [columnDefs]="colDefs" [pagination]="pagination" [defaultColDef]="defaultColDef"
          [components]="frameworkComponents" [enableCellTextSelection]="true"
          [paginationPageSize]="paginationPageSize10" [domLayout]="domLayout"
          [paginationPageSizeSelector]="paginationPageSizeSelector10" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
<!-- modal.component.html -->
<div class="modal fade" id="userFormModal" role="dialog" aria-labelledby="userFormModalLabel" aria-hidden="true"
  #userFormModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userFormModalLabel">{{ user.u_id ? 'Update User' : 'Create User' }}</h5>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm">
          <div class="form-group">
            <label for="u_name">Name</label>
            <input type="text" id="u_name" class="form-control" [(ngModel)]="user.u_name" name="u_name" required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && !user.u_name">
              Full Name is required
            </div>
          </div>

          <div class="form-group">
            <label for="u_username">Username</label>
            <input type="text" id="u_username" class="form-control" [(ngModel)]="user.u_username" name="u_username"
              required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && !user.u_username">
              Username is required
            </div>
          </div>

          <div class="form-group" *ngIf="user.u_id===0">
            <label for="u_password">Password</label>
            <input type="password" id="u_password" class="form-control" [(ngModel)]="user.u_password" name="u_password"
              required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && !user.u_password">
              Password is required
            </div>
          </div>
          <div class="form-group">
            <label for="u_role_id">Role</label>
            <select appSelect2 #u_role_id id="u_role_id" class="form-control" [(ngModel)]="user.u_role_id"
              name="u_role_id" required (selectionChanged)="OnRoleChange($event);">
              <option *ngFor="let role of roles" [value]="role.r_id">{{ role.r_name }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="userForm.submitted && !user.u_role_id">
              Role is required
            </div>
          </div>
          <div class="form-group">
            <label for="u_email">Email</label>
            <input type="email" id="u_email" class="form-control" [(ngModel)]="user.u_email" name="u_email" required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && !user.u_email">
              Email is required
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" (click)="createOrUpdateUser()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- modal.component.html -->
<div class="modal fade" id="passwordResetModal" role="dialog" aria-labelledby="userFormModalLabel" aria-hidden="true"
  #userFormModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="userFormModalLabel">Update Password For {{this.user.u_name}}</h4>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm">
          <div class="form-group">
            <label for="newpassword">Password</label>
            <input type="text" id="newpassword" class="form-control" [(ngModel)]="this.newpassword" name="newpassword"
              required>

          </div>

        </form>
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" (click)="updateUserPassword()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>