<div class="container-fluid" style="height: 100vh;">
  <div class="row">
    <div class="col-2">
      <mat-list>
        <!-- Category Section -->
        <h4 matSubheader (click)="toggleSection('category')"> Category &nbsp;
          <i class="fa" [ngClass]="openSection === 'category' ? 'fa-angle-up' : 'fa-angle-down'"></i>
        </h4>
        <div *ngIf="openSection === 'category'">
          <mat-list-item *ngFor="let category of categories">
            <input type="checkbox" id="category-{{ category.ct_id }}"
              (change)="onCategoryChange($event, category.ct_id)" />&nbsp;
            <label for="category-{{ category.ct_id }}">
              {{ category.ct_name }}
            </label>
          </mat-list-item>
        </div>
        <hr />
        <!-- Subcategory Section -->
        <h4 matSubheader (click)="toggleSection('subcategory')"> Sub Category &nbsp;
          <i class="fa" [ngClass]="openSection === 'subcategory' ? 'fa-angle-up' : 'fa-angle-down'"></i>
        </h4>
        <div *ngIf="openSection === 'subcategory'">
          <mat-list-item *ngFor="let sc of subcategories">
            <input type="checkbox" id="subcategory-{{ sc.md_name }}"  (change)="onSubCategoryChange($event, sc.md_id)" /> &nbsp;
            <label for="subcategory-{{ sc.md_name }}">
              {{ sc.md_name }}
            </label>
          </mat-list-item>
        </div>
        <hr />
        <!-- size Section -->
        <h4 matSubheader (click)="toggleSection('size')"> Size &nbsp;
          <i class="fa" [ngClass]="openSection === 'size' ? 'fa-angle-up' : 'fa-angle-down'"></i>
        </h4>
        <div *ngIf="openSection === 'size'">
          <mat-list-item *ngFor="let sz of sizes">
            <input type="checkbox" id="size-{{ sz.md_name }}"   (change)="onSizeChange($event, sz.md_id)"/> &nbsp;
            <label for="size-{{ sz.md_name }}">
              {{ sz.md_name }}
            </label>
          </mat-list-item>
        </div>
        <hr />
      </mat-list>
    </div>
    <div class="col-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="filter-container d-flex justify-content-end">
              <div class="filter-rating">
                <select id="ratingFilter" [(ngModel)]="sortBy" (change)="getProductsByFilters()" class="form-control">
                  <option value="0">Sort By</option>
                  <option value="1">Featured</option>
                  <option value="2">Popularity</option>
                  <option value="3">Newest</option>
                  <option value="4">Price : Hight-Low</option>
                  <option value="5">Price : Low-High</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div *ngFor="let product of this.products" class="col-lg-3 col-md-4 col-sm-12">
            <div class="product">
              <div class="product__thumb">
                <a>
                  <img
                    *ngFor="let p_attachement of getAttachementOfaProduct(product.p_attachements).slice(0, 2); let i = index"
                    [ngClass]="i === 0 ? 'product-primary' : 'product-secondary'"
                    [src]="apiUrl + '/' + p_attachement.pa_image_path" alt="product_image"
                    style="height: 300px; width: auto;">
                </a>
                <div class="product-info mb-10">
                  <div class="product_category">
                    <span>{{ product.p_sub_category_name + ', ' + product.p_division_name
                      }}</span>
                  </div>
                  <div class="product_rating">
                    <a href="#"><i class="fa fa-star start-color"></i></a>
                    <a href="#"><i class="fa fa-star start-color"></i></a>
                    <a href="#"><i class="fa fa-star start-color"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                  </div>
                </div>
                <div class="product__name">
                  <h4><a href="shop.html">{{product.p_name}}</a></h4>
                  <div class="pro-price">
                    <p class="p-absoulute pr-1"><span>&#x20B9;</span>{{product.p_price}}</p>
                    <a class="p-absoulute pr-2" href="#">add to cart</a>
                  </div>
                </div>
                <div class="product__action">
                  <div class="inner__action">
                    <div class="wishlist">
                      <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                    <div class="view">
                      <a (click)="navigateToProduct(product.p_id)"><i class="fa fa-eye"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>