
<div class="content with-sidebar px-2 px-md-3 pb-5 pb-md-0">
    <div class="row g-0">
        <div class="col-12 m-0 p-0">
            <div class="ratio ratio-16x9 position-relative">
                <!-- Video -->
                <video src="./assets/video/video.mp4" class="w-100 h-100" muted  autoplay loop  playsinline
                    style="object-fit: cover;"></video>
                <!-- Overlay -->
            </div>
        </div>
    </div>
    <div class="row g-3 ">
        <div *ngFor="let story of filteredStories" class="col-sm-6 col-md-4 col-lg-2">
            <div class="card  text-white  h-100" style="background-color: black;">
                <!-- Responsive Image -->
                <img [src]="apiUrl + '/' + story.st_image" class="card-img-top"
                    style="height: 160px; object-fit: cover;" />
                <div class="card-body">
                    <h6 class="card-title mb-1 text-truncate">{{ story.st_name }}</h6>
                    <p class="small mb-1">{{ story.st_category_name }}</p>
                    <p class="card-text small d-none d-md-block text-truncate">
                        {{ story.st_description }}
                    </p>
                </div>
                <div class="card-footer p-2">
                    <button class="btn btn-sm text-light d-flex align-items-center gap-1"
                        style="background: none; border: none;" (click)="playGame(story.st_id)">
                        Start Play &nbsp;<i class="fa fa-play"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>