<div class="container-fluid bg-black" style="height: 100vh; background-color: black;">
  <div class="row">
    <div class="col-md-12 m-0 p-0">
      <img [src]="apiUrl + '/' + story.st_end_image" alt="Background" class="w-100"
        style="object-fit: cover; height: auto; max-height: 100%;" />
    </div>
    <div class="position-fixed bottom-0 start-0 p-4"
      style="z-index: 1000; background: rgba(0,0,0,0.0); max-width: 40%;">
      <button type="button" class="btn btn-secondary text-wrap d-inline-flex align-items-center"
        style="white-space: normal;" (click)="gameover()">
        <span class="me-2">Finish</span>
        <i class="fa fa-play"></i>
      </button>
    </div>
  </div>
</div>



<div id="gameOverModal" class="modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="mb-2">🎮 Game Over!</h5>
      </div>
      
      <div class="modal-body">
        <small class="d-block text-muted  mb-1">Thank you for playing. Results will be shared shortly.</small>
        <small class="d-block text-muted mb-2">Explore more stories while you wait.</small>
      </div>
      
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm px-3" (click)="goToHome()">
          <i class="fa fa-home me-1"></i> Go To Home
        </button>
      </div>
      
    </div>
  </div>
</div>

<!--
<div id="gameOverModal" class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.8);">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-transparent border-0 shadow-none">
      <div class="modal-body p-0 text-center text-white">
        <h5 class="mb-2">🎮 Game Over!</h5>
        <br />
        <small class="d-block mb-1">Thank you for playing. Results will be shared shortly.</small>
        <hr />
        <small class="d-block text-muted mb-2">Explore more stories while you wait.</small>
        <button class="btn btn-primary btn-sm px-3" (click)="goToHome()">
          <i class="fa fa-home me-1"></i> Home
        </button>
      </div>
    </div>
  </div>
</div>
-->