<div class="blog-area mb-100">
    <div class="container">
        <div class="section-wrapper text-center mb-35">
            <h2 class="section-title"><a href="blog.html">from our blog</a></h2>
            <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis<br> eget maecenas sed urna
                malesuada.</p>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="blog" style="background-image: url('./assets/img/blog/9.jpg');">
                    <div class="blog__content">
                        <span class="mb-15">Shoes, Clothing</span>
                        <h3 class="blog-title "><a (click)="navigateTo(1);">Mauris rhoncus aliquet purus</a></h3>
                        <p>By Erentheme /<span>September 16, 2019</span></p>
                        <a href="blog.html">Continue reading</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="bpost">
                    <div class="bpost__thumb">
                        <img src="./assets/img/blog/blog1.jpg" alt="blog_post">
                    </div>
                    <div class="bpost__content">
                        <span>Shoes, Clothing</span>
                        <h3 class="blog-title title-2"><a (click)="navigateTo(1);">Simple & Easy DIY Flower Deco</a></h3>
                        <p>By <span>Erentheme </span>/September 16, 2019</p>
                        <p>Sapien luctus id justo suscipit nonummy eget hymenaeos...</p>
                    </div>
                </div>
                <div class="bpost">
                    <div class="bpost__thumb">
                        <img src="./assets/img/blog/blog2.jpg" alt="blog_post">
                    </div>
                    <div class="bpost__content">
                        <span>Shoes, Clothing</span>
                        <h3 class="blog-title title-2"><a (click)="navigateTo(1);">Take A Look At The Most Photo</a></h3>
                        <p>By <span>Erentheme </span>/September 16, 2019</p>
                        <p>Sapien luctus id justo suscipit nonummy eget hymenaeos...</p>
                    </div>
                </div>
                <div class="bpost m-0">
                    <div class="bpost__thumb">
                        <img src="./assets/img/blog/blog3.jpg" alt="blog_post">
                    </div>
                    <div class="bpost__content">
                        <span>Shoes, Clothing</span>
                        <h3 class="blog-title title-2"><a (click)="navigateTo(1);">Mauris rhoncus aliquet purus</a></h3>
                        <p>By <span>Erentheme </span>/September 16, 2019</p>
                        <p>Sapien luctus id justo suscipit nonummy eget hymenaeos...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>