<div class="position-relative" style="height: 88vh; overflow: hidden;">
    <!-- Background Image -->
    <img [src]="apiUrl + '/' + story.st_image"
         alt="Background"
         class="position-absolute bottom-0 start-0 w-100 h-auto"
         style="object-fit: cover; height: 80%; width: 100%; z-index: 1;" />

    <!-- Overlay Content -->
    <div class="position-absolute bottom-0 start-0  p-4"
         style="z-index: 1000; background: rgba(0,0,0,0.0); max-width: 40%;">
        <div class="movie_header mb-2" >
            <h1 class="text-white">{{ story.st_name }}</h1>
            <h4 style="color:#cacdbc">2017, David Ayer</h4>
            <span class="minutes">{{ story.st_category_name }}</span>
        </div>
        <div class="movie_desc mb-3">
            <p class="text">{{ story.st_description }}</p>
        </div>
        <div class="movie_social">
            <button class="btn btn-lg d-flex align-items-center justify-content-center gap-2"
                    style="background: none; border: none; color: white;"  (click)="playGame(story.st_id)">
                Start Play
                <i class="fa fa-play fa-2x"></i>
            </button>
        </div>
    </div>
</div>
