<div class="container-fluid bg-black" style="height: 100vh; background-color: black;">
    <div class="row">
        <div class="col-md-12 m-0 p-0">
            <img [src]="apiUrl + '/' + story.st_image" alt="Background" class="w-100"
                style="object-fit: cover; height: auto; max-height: 100%;" />

            <div class="container-fluid" style="background-color: black; color: gray;">
                <div class="row">
                    <div class="col-12">
                        <div class="movie_header mb-2">
                            <h1 class="text-black">{{ story.st_name }}</h1>
                            <span class="minutes">{{ story.st_category_name }}</span>
                        </div>
                        <div class="movie_desc mb-2" style="max-height: 600px; overflow-y: auto; width: 100%;">
                            <p class="text">{{ story.st_description }}</p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="position-fixed bottom-0 start-0 p-4"
            style="z-index: 1000; background: rgba(0,0,0,0.0); max-width: 40%;">
            <button type="button" class="btn btn-secondary text-wrap d-inline-flex align-items-center"
                style="white-space: normal;" (click)="startGame(story.st_id)">
                <span class="me-2">Start Play</span>
                <i class="fa fa-play"></i>
            </button>
        </div>
    </div>
</div>