<div class="container">
    <div class="row">
        <div class="col-1" >
            <div class="d-flex flex-column" >
                <div *ngFor="let attachment of getAttachementOfaProduct(product.p_attachements); let i = index"
                    class="thumbnail-item mb-2">
                    <img [src]="apiUrl + '/' + attachment.pa_image_path" class="img-thumbnail cursor-pointer"
                        (click)="selectImage(i)" alt="Product Thumbnail Image">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="main-image-container">
                <img [src]="selectedImagePath" class="d-block w-100" alt="Primary product image">
            </div>
        </div>
        <div class="col-5">
            <div class="product__details">
                <h1><a href="shop.html">{{this.product.p_name}}</a></h1>
                <h3>{{this.product.p_short_name}}</h3>
                <br />
                <div class="d-flex justify-content-between">
                    <p class="price">MRP : <span>&#x20B9;</span>{{this.product.p_price}}</p>
                </div>
                <br />
                <h5>
                    Inclusive of all taxes
                    (Also includes all applicable duties)
                </h5>
                <div class="product_category mt-2">
                    <span>{{ product.p_sub_category_name + ', ' + product.p_division_name }}</span>
                </div>
                <div class="product_rating mt-2 d-flex align-items-center">
                    <div *ngIf="product.p_overall_rating" class="d-flex me-3">
                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                            <a href="#">
                                <i class="fa fa-star"
                                    [ngClass]="{'start-color': i < (product.p_overall_rating || 0), 'text-muted': i >= (product.p_overall_rating || 0)}"></i>
                            </a>
                        </ng-container>
                    </div>
                    &nbsp;
                    <a class="btn btn-default" href="#reviewContainer">
                        <i class="fa fa-pencil"></i>
                        {{ product.p_overall_rating ? ' Write a Review' : ' Add the First Review' }}
                    </a>
                </div>
                <br />
                <h5>Select Size</h5>
                <div class="row text-center">
                    <div class="col-auto mb-2" *ngFor="let size of getListFromJSON(product.p_sizes); let i = index">
                        <button class="btn btn-outline-secondary size-button"
                            [class.selected]="size.ps_size === selectedSize" (click)="selectSize(size.ps_size)">
                            {{ size.ps_size_name }}
                        </button>
                    </div>
                </div>
                <button class="btn btn-primary" (click)="addToCart()"><i class="fa fa-shopping-bag"> </i> Add to Bag</button>
                <button class="btn btn-default"> Favourite <i class="fa fa-heart"></i></button>
                <h5>
                    {{ product.p_description }}
                </h5>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>
                You Might Also Like
            </h1>
        </div>
        <div class="col-12">
            <div *ngFor="let product of this.productsMayLike" class="col-lg-3 col-md-3 col-sm-6">
                <div class="product">
                    <div class="product__thumb">
                        <a>
                            <img *ngFor="let p_attachement of getAttachementOfaProduct(product.p_attachements).slice(0, 2); let i = index"
                                [ngClass]="i === 0 ? 'product-primary' : 'product-secondary'"
                                [src]="apiUrl + '/' + p_attachement.pa_image_path" alt="product_image"
                                style="height: 300px; width: auto;">
                        </a>
                        <div class="product-info mb-10">
                            <div class="product_category">
                                <span>{{ product.p_sub_category_name + ', ' + product.p_division_name }}</span>
                            </div>
                            <div class="product_rating">
                                <a href="#"><i class="fa fa-star start-color"></i></a>
                                <a href="#"><i class="fa fa-star start-color"></i></a>
                                <a href="#"><i class="fa fa-star start-color"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                        <div class="product__name">
                            <h4><a href="shop.html">{{product.p_name}}</a></h4>
                            <div class="pro-price">
                                <p class="p-absoulute pr-1"><span>&#x20B9;</span> 80.00</p>
                                <a class="p-absoulute pr-2" href="#">add to cart</a>
                            </div>
                        </div>
                        <div class="product__action">
                            <div class="inner__action">
                                <div class="wishlist">
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                                <div class="view">
                                    <a (click)="navigateToProduct(product.p_id)"><i class="fa fa-eye"></i></a>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container" id="reviewContainer">
    <div class="row">
        <div class="col-md-9">
            <h1>Ratings & Reviews</h1>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-secondary pull-right" (click)="toggleCreateDiv()">
                {{ isCreateDivVisible ? 'Hide Review Form' : 'Add a Review' }}
            </button>
        </div>
    </div>

    <!-- Overall Rating Section -->
    <div class="row mt-4">
        <div class="col-6">
            <div class="overall-rating">
                <h3>Overall Rating: {{ (product.p_overall_rating || 0) | number: '1.1-1' }} / 5</h3>
                <div class="product_rating">
                    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                        <i class="fa fa-star" [ngClass]="{'start-color': i < (product.p_overall_rating || 0)}"></i>
                    </ng-container>
                </div>
                <p class="text-muted">{{ productReviews.length }} reviews</p>
            </div>
        </div>
        <div class="col-6">
            <div class="filter-container d-flex justify-content-end">
                <div class="filter-rating">
                    <label for="ratingFilter" class="mr-2">Rating</label>
                    <select id="ratingFilter" [(ngModel)]="selectedRating" (change)="applyFilters()"
                        class="form-control">
                        <option value="0">All Ratings</option>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                &nbsp;
                <div class="filter-date">
                    <label for="dateFilter" class="mr-2">Date</label>
                    <select id="dateFilter" [(ngModel)]="selectedDate" (change)="applyFilters()" class="form-control">
                        <option value="0">All Time</option>
                        <option value="7">Last 7 Days</option>
                        <option value="30">Last 30 Days</option>
                        <option value="90">Last 90 Days</option>
                    </select>
                </div>
            </div>
        </div>

    </div>


    <!-- Toggleable Create Review Div -->
    <div class="row mt-4" *ngIf="isCreateDivVisible">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5>Create a New Review</h5>
                    <div class="form-group">
                        <label for="reviewRating">Rating &nbsp;</label>
                        <div class="rating">
                            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                                <i class="fa fa-star" [ngClass]="{'star-selected': i < productReview.pr_overall_rating}"
                                    (click)="setRating(i + 1)"></i>
                            </ng-container>
                        </div>
                        <p class="text-muted">Click on a star to select your rating.</p>
                    </div>
                    <!-- Add your form fields here -->
                    <div class="form-group">
                        <label for="reviewTitle">Title</label>
                        <input type="text" id="reviewTitle" class="form-control"
                            [(ngModel)]="productReview.pr_head_line">
                    </div>
                    <div class="form-group">
                        <label for="reviewText">Review</label>
                        <textarea id="reviewText" class="form-control" [(ngModel)]="productReview.pr_review"></textarea>
                    </div>
                    <button class="btn btn-primary mt-3" (click)="createOeUpdateProductReview()">Submit Review</button>
                </div>
            </div>
            <br /><br />
        </div>
    </div>

    <!-- Display Existing Reviews -->
    <div class="row">
        <div class="col-12 mb-4" *ngFor="let pr of filteredReviews">
            <div class="card">
                <div class="card-body">
                    <!-- Created date at the top-right corner -->
                    <p class="text-muted text-end mb-0"> {{ pr.pr_created_on | date: 'medium' }}</p>
                    
                    <h5 class="card-title">{{ pr.pr_head_line }}</h5>
                    <div class="product_rating">
                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                            <a href="#">
                                <i class="fa fa-star" [ngClass]="{'start-color': i < pr.pr_overall_rating}"></i>
                            </a>
                        </ng-container>
                    </div>
                    <p class="card-text">{{ pr.pr_review }}</p>
                    <p class="text-muted">{{ pr.pr_cre_by_name }}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>