<div class="container">
    <h1>Contact US</h1>
    <div class="row">
        <div class="col-2">
            <div class="card text-dark card-has-bg click-col"
                style="background-image:url('./assets/img/logo/facebook.png');">
                <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                    alt="Facebook Contact">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <small class="card-meta mb-2">Contact Information</small>
                        <h4 class="card-title mt-0"><a class="text-dark"
                                href="https://www.facebook.com/yourprofile">Follow Us on Facebook</a></h4>
                    </div>
                    <div class="card-footer">
                        <div class="media">
                            <div class="media-body">
                                <h6 class="my-0 text-dark d-block">Captain</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card text-dark card-has-bg click-col"
                style="background-image:url('./assets/img/logo/instagram.png');">
                <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                    alt="Instagram Contact">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <small class="card-meta mb-2">Contact Information</small>
                        <h4 class="card-title mt-0"><a class="text-dark"
                                href="https://www.instagram.com/captain.since_2012">Follow Us on Instagram</a></h4>
                    </div>
                    <div class="card-footer">
                        <div class="media">
                            <div class="media-body">
                                <h6 class="my-0 text-dark d-block">Captain</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-2">
            <div class="card text-dark card-has-bg click-col"
                style="background-image:url('./assets/img/logo/twitterx.png');">
                <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                    alt="Twitter Contact">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <small class="card-meta mb-2">Contact Information</small>
                        <h4 class="card-title mt-0"><a class="text-dark" href="https://twitter.com/yourprofile">Follow
                                Us on X</a></h4>
                    </div>
                    <div class="card-footer">
                        <div class="media">
                            <div class="media-body">
                                <h6 class="my-0 text-dark d-block">Captain</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-2">
            <div class="card text-dark card-has-bg click-col"
                style="background-image:url('./assets/img/logo/gmail.png');">
                <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Gmail Contact">
                <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body">
                        <small class="card-meta mb-2">Contact Information</small>
                        <h4 class="card-title mt-0"><a class="text-dark" href="mailto:your.email@gmail.com">Contact Us on Gmail</a></h4>
                    </div>
                    <div class="card-footer">
                        <div class="media">
                            <div class="media-body">
                                <h6 class="my-0 text-dark d-block">info&#64;captain.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <br />
    <h1>Send Us Your Feedback</h1>
    <form id="feedback" name="feedback" method="post">
        <div class="mb-4 row">
            <div class="col">
                <label for="f_first_name">First Name</label>
                <input type="text" required maxlength="50" class="form-control" id="f_first_name" name="f_first_name"
                    [(ngModel)]="this.feedback.f_first_name">
            </div>
            <div class="col">
                <label for="f_last_name">Last Name</label>
                <input type="text" required maxlength="50" class="form-control" id="f_last_name" name="f_last_name"
                    [(ngModel)]="this.feedback.f_last_name">
            </div>
        </div>
        <div class="mb-4 row">
            <div class="col">
                <label for="f_email">Email address</label>
                <input type="email" required maxlength="50" class="form-control" id="f_email" name="f_email"
                    placeholder="name@example.com" [(ngModel)]="this.feedback.f_email">
            </div>
            <div class="col">
                <label for="f_phone">Phone</label>
                <input type="tel" required maxlength="50" class="form-control" id="f_phone" name="f_phone"
                    placeholder="Phone" [(ngModel)]="this.feedback.f_phone">
            </div>
        </div>
        <div class="mb-4">
            <label for="f_message">Message</label>
            <textarea class="form-control" id="f_message" name="f_message" rows="5"
                [(ngModel)]="this.feedback.f_message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary px-4 btn-lg pull-right" (click)="createOrUpdateFeedback();"><i
                class="fa fa-paper-plane"></i> Send</button>
    </form>

</div>
<br />