<div class="right_col" role="main" style="min-height: 99vh;">
    <div class="x_panel">
        <div class="x_title">
            <button class="btn btn-warning" (click)="openCreateFormModal()"><i class="fa fa-plus"></i> Create</button>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ag-grid-angular #storiesGrid class="ag-theme-quartz ag-theme-acmecorp"
                    style="height: 80vh; width: 100%;" [rowData]="stories" [columnDefs]="colDefs"
                    [pagination]="pagination" [defaultColDef]="defaultColDef" [enableCellTextSelection]="true"
                    [components]="frameworkComponents" [paginationPageSize]="paginationPageSize10"
                    [domLayout]="domLayout" [paginationPageSizeSelector]="paginationPageSizeSelector10"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="storyFormModal" role="dialog" aria-labelledby="storyFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ story.st_id ? 'Update story' : 'Create story' }}</h5>
            </div>
            <div class="modal-body">
                <form #userForm="ngForm">
                    <div class="form-group">
                        <label for="st_name">Name</label>
                        <input type="text" id="st_name" class="form-control" [(ngModel)]="story.st_name" name="st_name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="st_description">Description</label>
                        <textarea type="text" id="st_description" class="form-control"
                            [(ngModel)]="story.st_description" name="st_description" required rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="st_type">Type</label>
                        <select appSelect2 y id="st_type" class="form-control" name="st_type" required
                            (selectionChanged)="OnTypeChange($event);">
                            <option value="0" selected>Select Type</option>
                            <option *ngFor="let st of storyTypes" [value]="st.md_id">{{ st.md_name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="st_category">Category</label>
                        <select appSelect2 y id="st_category" class="form-control" name="st_category" required
                            (selectionChanged)="OnCategoryChange($event);">
                            <option value="0" selected>Select Parrent</option>
                            <option *ngFor="let ct of categories" [value]="ct.ct_id">{{ ct.ct_name }}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="story.st_id==0">
                        <label for="file">Trailer </label>&nbsp;
                        <input type="file" name="file" (change)="onTrailerFileSelected($event)" />
                    </div>
                    <div class="form-group" *ngIf="story.st_id==0">
                        <label for="file">Poster </label>&nbsp;
                        <input type="file" name="file" (change)="onFileSelected($event)" />
                    </div>
                    <div class="form-group" *ngIf="story.st_id==0">
                        <label for="file">Starting Image </label>&nbsp;
                        <input type="file" name="startImage" (change)="onStartImageSelected($event)" />
                    </div>
                    <div class="form-group" *ngIf="story.st_id==0">
                        <label for="file">Ending Image </label>&nbsp;
                        <input type="file" name="endImage" (change)="onEndingImageSelected($event)" />
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" (click)="createOrUpdateStory()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="attachmentModal"  role="dialog" aria-labelledby="storyFormModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attachments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <mat-tab-group (selectedTabChange)="onAttachmentTabChange($event)">
                    <mat-tab label="Trailer">
                        <app-attachment-viewer *ngIf="this.story.st_trailer" [file]="attachmentFullPath"></app-attachment-viewer>
                    </mat-tab>
                    <mat-tab label="Poster">
                        <app-attachment-viewer *ngIf="this.story.st_image" [file]="attachmentFullPath"></app-attachment-viewer>
                    </mat-tab>
                    <mat-tab label="Starting">
                        <app-attachment-viewer *ngIf="this.story.st_start_image" [file]="attachmentFullPath"></app-attachment-viewer>
                    </mat-tab>
                    <mat-tab label="Ending">
                        <app-attachment-viewer *ngIf="this.story.st_end_image"  [file]="attachmentFullPath"></app-attachment-viewer>
                    </mat-tab>
                </mat-tab-group>
                <hr/>
                <div class="mt-3 text-center">
                    <button type="button" class="btn btn-danger mr-2" (click)="deleteAttachment()" *ngIf="attachmentColumn">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                    <label class="btn btn-primary" *ngIf="!attachmentColumn">
                        <i class="fa fa-upload"></i> Upload
                        <input type="file" (change)="onReplaceStoryAttachmentSelected($event)"  hidden  >
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="storyImageModal" tabindex="-1" role="dialog" aria-labelledby="storyFormModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Story Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img [src]="imageUrl" class="img-fluid rounded shadow" alt="Story Image" *ngIf="imageUrl; else noImage"
                    width="720px" />
                <ng-template #noImage>
                    <p>No image available.</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="stepFormModal" role="dialog" aria-labelledby="storyFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Steps</h4>
            </div>
            <div class="modal-body">
                <mat-tab-group>
                    <!-- Loop through existing steps -->
                    <mat-tab *ngFor="let s of steps; let i = index" [label]="'Step ' + s.sp_priority">
                        <mat-card class="m-3">
                            <mat-card-content>
                                <div class="mt-3 d-flex justify-content-end">
                                    <button class="btn btn-danger" (click)="deleteStep(s.sp_id)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                                <div class="mb-3">
                                    <p><strong>Step Number:</strong> {{ s.sp_priority }}</p>
                                    <p><strong>Question:</strong></p>
                                    <div *ngIf="s.sp_attachment" class="mt-3">
                                        <app-attachment-viewer *ngIf="s.sp_attachment"
                                            [file]="s.sp_attachment"></app-attachment-viewer>
                                    </div>
                                    <br />
                                    <p *ngIf="s.sp_question" class="border p-2 bg-light">{{ s.sp_question }}</p>
                                    <p *ngIf="s.sp_hint"><strong>Hint:</strong> {{ s.sp_hint }}</p>
                                    <p><strong>Answer:</strong></p>
                                    <p class="border p-2 bg-light">{{ s.sp_answer }}</p>
                                </div>


                            </mat-card-content>
                        </mat-card>
                    </mat-tab>

                    <mat-tab label="+ Add New Step">
                        <form #userForm="ngForm">
                            <div class="form-group">
                                <label for="sp_priority">Priority</label>
                                <input type="number" id="sp_priority" class="form-control"
                                    [(ngModel)]="step.sp_priority" name="sp_priority" required min="1" />
                            </div>
                            <div class="form-group">
                                <label for="sp_question">Question</label>
                                <textarea type="text" id="sp_question" class="form-control"
                                    [(ngModel)]="step.sp_question" name="sp_question" required rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="sp_attachment">Attachment</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="sp_attachment" name="sp_attachment"
                                        (change)="onFileSelectedForStep($event)">
                                    <label class="custom-file-label" for="sp_attachment">
                                        {{ selectedFileNameOfStep || 'Choose file' }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sp_hint">Hint</label>
                                <input type="sp_hint" name="sp_hint" [(ngModel)]="step.sp_hint" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="sp_answer">Answer</label>
                                <textarea type="text" id="sp_answer" class="form-control" [(ngModel)]="step.sp_answer"
                                    name="sp_answer" required rows="5"></textarea>
                            </div>

                        </form>

                    </mat-tab>
                </mat-tab-group>


            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" (click)="createOrUpdateStep()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="analyticsModal" role="dialog" aria-labelledby="analyticsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Analytics</h4>
            </div>
            <div class="modal-body">
                <mat-tab-group (selectedTabChange)="onTabChange($event)">
                    <mat-tab label="Details">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <ag-grid-angular #reportGrid class="ag-theme-quartz ag-theme-acmecorp"
                                        style="height: 100%; width: 100%;" [rowData]="reportData"
                                        [columnDefs]="reportDefs" [pagination]="pagination"
                                        [defaultColDef]="defaultColDef" [enableCellTextSelection]="true"
                                        [components]="frameworkComponents" [paginationPageSize]="paginationPageSize10"
                                        [domLayout]="domLayout"
                                        [paginationPageSizeSelector]="paginationPageSizeSelector10"
                                        (gridReady)="onGridReady($event)">
                                    </ag-grid-angular>
                                </div>
                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Proggression">
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                        <hr />
                        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                    </mat-tab>
                    <mat-tab label="Result">
                        <h1>Result ajsdhf</h1>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>