<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div *ngFor="let cart of this.carts">
                <div class="card  mt-2">
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img *ngFor="let p_attachement of getAttachementOfaProduct(cart.p_attachements).slice(0, 1); let i = index"
                                    [ngClass]="i === 0 ? 'product-primary' : 'product-secondary'"
                                    [src]="apiUrl + '/' + p_attachement.pa_image_path" alt="product_image"
                                    style="height: 150px; width: auto;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title mb-10">{{cart.p_name}}</h4>
                                    <p class="card-text">{{ cart.p_sub_category_name + ', ' + cart.p_division_name }}</p>
                                    <h4 class="card-text"><span>&#x20B9;</span>{{cart.p_price}}</h4>
                                    
                                    <div class="action-row d-flex align-items-center gap-3">
                                        <a (click)="removeCart(cart.c_id)" class="text-dark fw-normal ms-3" style="cursor: pointer;"><b>REMOVE</b></a>
                                      </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
      
    </div>
</div>