<div class="container-fluid bg-black" style="height: 100vh; background-color: black;">
    <br/>
    <nav>
        <ol class="breadcrumb p-2  text-white"  style="background-color: black;">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Room Details</li>
            <li class="breadcrumb-item" (click)="openRoomCodeModal()">{{ this.roomCode }}</li>
        </ol>
    </nav>
    <div class="row">
        <div *ngFor="let story of stories" class="col-4 col-md-4 col-lg-3">
            <div class="card blackBG" (click)="playGame(story.st_id)">
                <img [src]="attachmentUrl + '/' + story.st_image" class="card-img-top m-0 p-0"
                    style=" object-fit: fit;height: 100%" />
                <div class="card-body ">

                    <h6 class="card-title mb-2 text-truncate text-light">{{ story.st_name }}</h6>
                    <p class="small mb-1">{{ story.st_category_name }}</p>
                    <p class="card-text small d-none d-md-block text-truncate">
                        {{ story.st_description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="roomCodeModal" class="modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1> Room Code</h1>
            </div>
            <div class="modal-body">
                <label for="roomCode">Room code</label>
                <input type="text" [(ngModel)]="roomCode" class="form-control" placeholder="Please Enter Room Code " />
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm px-3" (click)="getRoomCode()">Open</button>
            </div>

        </div>
    </div>
</div>