<div class="right_col" role="main" style="min-height: 99vh;">
    <div class="x_panel">
        <div class="x_title">
            <button class="btn btn-warning" (click)="openCreateFormModal()"><i class="fa fa-plus"></i> Create</button>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ag-grid-angular #roomsGrid class="ag-theme-quartz ag-theme-acmecorp" style="height: 80vh; width: 100%;"
                    [rowData]="rooms" [columnDefs]="colDefs" [pagination]="pagination" [defaultColDef]="defaultColDef"
                    [enableCellTextSelection]="true" [components]="frameworkComponents"
                    [paginationPageSize]="paginationPageSize10" [domLayout]="domLayout"
                    [paginationPageSizeSelector]="paginationPageSizeSelector10" (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="roomFormModal" tabindex="-1" role="dialog" aria-labelledby="roomFormModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ room.rm_id ? 'Update Room' : 'Create Room' }}</h5>
            </div>
            <div class="modal-body">
                <form #userForm="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="rm_name">Name</label>
                                <input type="text" id="rm_name" class="form-control" [(ngModel)]="room.rm_name"
                                    name="rm_name" required>
                            </div>
                            <div class="form-group">
                                <label for="rm_client">Client</label>
                                <select appSelect2 id="rm_client" class="form-control" name="rm_client" required
                                    (selectionChanged)="onClientChange($event);">
                                    <option *ngFor="let cl of clients" [value]="cl.cl_id">{{
                                        cl.cl_name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="rm_expire_date">Expire Date</label>
                                <input type="date" id="rm_expire_date" class="form-control"
                                    [(ngModel)]="room.rm_expire_date" name="rm_expire_date" required [min]="today">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" (click)="createOrUpdateRoom()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="storiesModal" role="dialog" aria-labelledby="roomFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Stories</h5>
            </div>
            <div class="modal-body">
                <form #userForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rs_story">Stories</label>
                                <select appSelect2 id="rs_story" class="form-control" name="rs_story" required
                                    (selectionChanged)="onRoomStoryChange($event);">
                                    <option [value]="0">Please Select Story</option>
                                    <option *ngFor="let st of stories" [value]="st.st_id">{{
                                        st.st_id+' - '+st.st_name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rm_expire_date">Expire Date</label>
                                <input type="date" id="rm_expire_date" class="form-control"
                                    [(ngModel)]="roomStory.rs_expire_date" name="rm_expire_date" required [min]="today">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn mt-4"
                                [ngClass]="roomStory.rs_id && roomStory.rs_id !== 0 ? 'btn-primary' : 'btn-success'"
                                (click)="CreateOrUpdateRoomStory()">
                                {{ roomStory.rs_id && roomStory.rs_id !== 0 ? 'Update' : 'Add' }}
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <ag-grid-angular #roomStoriesGrid class="ag-theme-quartz ag-theme-acmecorp"
                                style="height: 100%; width: 100%;" [rowData]="roomStories" [columnDefs]="rmDefs"
                                [pagination]="pagination" [defaultColDef]="defaultColDef"
                                [enableCellTextSelection]="true" [components]="frameworkComponents"
                                [paginationPageSize]="paginationPageSize10" [domLayout]="domLayout"
                                [paginationPageSizeSelector]="paginationPageSizeSelector10"
                                (gridReady)="onGridReady($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>